@model AspNetBiodiv.Core.Web.Models.EspeceViewModel


@{
    ViewData["Title"] = Model.NomScientifique;
}

<h1>Details</h1>

<div>
    <h4>@Model.NomScientifique</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NomScientifique)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NomScientifique)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UrlInpn)
        </dt>
        <dd class="col-sm-10">
            <a href="@Model.UrlInpn">Lien vers l'INPN</a>
        </dd>
        <dt class="col-sm-2">
            Habitat
        </dt>
        <dd class="col-sm-10">
            <img src="@Model.UrlIconeHabitat" alt="@Model.HabitatAlt" />
        </dd>
        <dt class = "col-sm-2">
            Présence en métropole
        </dt>
        <dd class="col-sm-10">
            <img src="@Model.UrlIconePresence" width="20" height="20" alt="@Model.PresenceAlt"/>
        </dd>
    </dl>
    
    <h2>Observations</h2>
    <p>
        @{
            foreach (var observation in Model.Observations.OrderByDescending(o => o.DateObservation))
            {
                <a asp-controller="Observations" asp-action="Details" asp-route-id="@observation.Id">A @observation.NomCommune le @observation.DateObservation</a>
            <br/>
            }
        }
    </p>

    <a asp-action="Create" asp-controller="Observations" asp-route-id_espece="@Model.Id">Saisir une observation</a>
</div>