@using AspNetBiodiv.Core.Web.Services
@model AspNetBiodiv.Core.Web.Models.ObservationViewModel
@inject ICommunes Communes
@{
    ViewBag.Title = "Saisie d'une observation de " + @Model.NomEspeceObservee;
}

<h4>Saisie d'une observation de @Model.NomEspeceObservee</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            @Html.ValidationSummary();
            <div class="form-group">
                @Html.ValidationMessageFor(m => m.DateObservation)
                <label asp-for="DateObservation" class="control-label"></label>
                <input asp-for="DateObservation" class="form-control"/>
            </div>
            <div class="form-group">
                @Html.ValidationMessageFor(m => m.EmailObservateur)
                <label asp-for="EmailObservateur" class="control-label "></label>
                <input asp-for="EmailObservateur" class="form-control"/>
            </div>
            <div class="form-group">
                @Html.ValidationMessageFor(m => m.Individus)
                <label asp-for="Individus" class="control-label"></label>
                <input asp-for="Individus" class="form-control"/>
            </div>
            <div class="form-group">
                @Html.ValidationMessageFor(m => m.NomCommune)
                <label asp-for="NomCommune" class="control-label"></label>
                <select name="NomCommune" class="form-control" asp-items="@Communes.GetCommuneItems()"></select>
            </div>
            <div class="form-group">
                @Html.ValidationMessageFor(m => m.Commentaires)
                <label asp-for="Commentaires" class="control-label"></label>
                <textarea asp-for="Commentaires" class="form-control"></textarea>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary"/>
            </div>
        </form>
    </div>
</div>

@section Scripts
{
    <partial name="_ValidationScriptsPartial" />
}